[submodule "Assignment1"]
	path = Assignment1
	url = https://github.com/UmairSatti010/Assignment1.git
[submodule "Assignment02"]
	path = Assignment02
	url = https://github.com/UmairSatti010/Assignment02.git
[submodule "Midterm"]
	path = Midterm
	url = https://github.com/UmairSatti010/Midterm.git
[submodule "Quiz1"]
	path = Quiz1
	url = https://github.com/UmairSatti010/Quiz1.git
